.GameWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.BoardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 60%;
}

.X, .O {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 20%;
}

